---
layout: archive
---

{{ content }}






<html lang="en">
  <!-- <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Woo Chul Lee</title>
      <link rel="stylesheet" type="text/css" href="css/master.css">
  </head> -->
  <body>



  <section id="home" class="section">
      <div class="container">
          <div class="row">
              <div class="col-md-5 about-img-wrap">
                  <div class="about-img wow slideInRight">
                      <img src="assets/img/wc.jpg" alt="" class="img-responsive" width = "300">
                  </div>
              </div>
              <div class="col-md-7">
                  <div class="about-me wow slideInLeft">
                      <div class="about-me-text">
                          <div class="opacity-box">

                            <p>This is <strong>Woo Chul Lee</strong>,a master's student
                              in Applied Machine Learning Laboratory of Seoul National University <a class="colored-link" href="https://gsds.snu.ac.kr/">Graduate School of Data Science</a>.
                              I'm advised by <a class="colored-link" href="http://aml.gsds.snu.ac.kr/index.php/lab-members/">Prof. Wen-Syan Li</a>. My research interests are <strong>'Causal Inference for Fairness in Machine Learning'</strong> and <strong>'Applied Machine Learning in Financial Services'</strong>.
                              Before graduate school, I was an assistant manager in <a class="colored-link" href="https://www.gscaltex.com/kr/">GS Caltex Corporation</a> Customs Tax team. During my career as FTA analyst, I worked on two FTA litigations projects(KR-EU and KR-US FTA) and one SAP based IT project called FTA OMS(Origin Management System), as a project manager. I received bachelors degree in Sungkyunkwan University Business School, majoring in Global Business and Finance.
                            As CFA Charterholder and Data Science researcher, I am eager to make AI good for human being, while AI and human complement each other, in all realm.</p>

                          </div>
                      </div>
                      <hr color = "#A9A9A9" size = "5px">
                      <div style="text-align:center">&#10066;	Contact &#10066;</div>
                      <div class="about-me-info">
                          <p>
                              <span class="span-title">Email: </span>
                              <span>woochulee@snu.ac.kr</span>
                          </p>
                          <p>
                              <span class="span-title">Address: </span>
                              <span>3rd Floor, Bldg #942 Graduate School of Data Science, Seoul National University
                              <br>1 Gwanak-ro, Gwanak-gu, Seoul, South Korea</span>
                          </p>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </section>



  <hr color = "#A9A9A9" size = "5px">
  <section id="Projects" class="section">
      <div class="container">
          <div class="row wave-bg">
              <div class="col-md-4 wow slideInLeft">
                  <div class="section-sidebar">
                    <div style="text-align:center">&#10066;	Dev Projects &#10066;</div>
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="row wow zoomIn">
                      <div class="col-md-12">
                          <div class="about-row">
                            <h4 class="paper-tittle">COVID-19 Mask Detector in Google Coral Development Board</h4>
                            <p class="paper-authors">w/ Keondo Park, Kyuwook Chai, Kisung Nam, Kihong Seong and Wonyoung Jang(Team WSL, GSDS)</p>
                            <p class="paper-info">&#9642;	 Mask Detection Program (trained by DNN) into small AIoT Device
                              <br> &#9642;	Deploying Light Application Convolutional Neural Network model to
                              Google Coral Development Board with Camera Module </p>
                            <div class="thumbnail-container">
                              <img class="thumbnail-image-featured" src="/assets/img/coral/coral.gif" alt="The World of Radiology Tile Image"><br>
                              <a class = "paper" href = "https://arxiv.org/abs/2010.04427">Paper</a> ||
                              <a class = "video" href = "https://www.youtube.com/watch?v=MdS2j5mPYmk&feature=youtu.be&t=249&ab_channel=WooLEE">Demonstration Video</a> ||
                              <a class = "news" href = "https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=009&aid=0004605829">News</a>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="row wow zoomIn">
                      <div class="col-md-12">
                          <div class="about-row">
                            <h4 class="paper-tittle">Causal Inference For Fairness(CIFF) Introduction</h4>
                            <!-- <p class="paper-authors">with WSL Team(Keondo Park, Kyuwook Chai, Kisung Nam, Kihong Seong and Wonyoung Jang)</p> -->
                            <p class="paper-info">&#9642;	 'Causal inference' will be used for achieving 'fairness' in ML. Why these two are implemented together?
                              <br> &#9642;	Using DoWhy from Microsoft and graphviz, consolidated libraries for making causal estimand, drawing causal graph and executing causal inference </p>
                            <div class="thumbnail-container">
                              <img class="thumbnail-image-featured" src="assets/img/ciff.gif" width = "450"><br>
                              <a class = "github" href = "https://github.com/wooleee/ciff">Code</a> ||
                              <a class = "video">Video(WIP)</a>
                          </div>
                     </div>
                      </div>
                  </div>
                  <hr>
                  <div class="row wow zoomIn">
                    <div class="col-md-12">
                        <div class="about-row">
                          <h4 class="paper-tittle">AML Logo Design Project</h4>
                          <!-- <p class="paper-authors">with WSL Team(Keondo Park, Kyuwook Chai, Kisung Nam, Kihong Seong and Wonyoung Jang)</p> -->
                          <p class="paper-info">&#9642;	 'Causal inference' will be used for achieving 'fairness' in ML. Why these two are implemented together?
                            <br> &#9642;	Using DoWhy from Microsoft and graphviz, consolidated libraries for making causal estimand, drawing causal graph and executing causal inference </p>
                          <div class="thumbnail-container">
                            <img class="thumbnail-image-featured" src="/assets/img/amllogo/fig1.png" width = "450" style = "float:left;">
                            <img class="thumbnail-image-featured" src="/assets/img/amllogo/logo_full.png" width = "450" style = "float:right;"><br>
                            <a class = "github" href = "https://github.com/wooleee/ciff">Code</a> ||
                            <a class = "video">Video(WIP)</a>
                        </div><br>
                   </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </section>


  <section id="papers" class="section">
      <div class="container">
          <div class="row wave-bg">
              <div class="col-md-4 wow slideInLeft">
                  <div class="section-sidebar">
                      <h3><span class="point">Publications</span></h3>
                      <div class="opacity-box">
  <!--                         <p>I have been interested in a broad range of data-driven decision making problems both in theory and applications.</p>
   -->                    </div>
                  </div>
              </div>

              <div class="col-md-8 right-box">

                 <div class="row wow zoomIn">
                      <div class="col-md-12">
                          <div class="about-row">
                            <h4 class="paper-tittle">Multinomial Logit Contextual Bandits: Provable Optimality and Practicality</h4>
                            <p class="paper-authors">with Garud Iyengar</p>
                            <p class="paper-info">AAAI Conference on Artificial Intelligence (<strong>AAAI</strong>), 2021, to appear</p>
                          </div>
                      </div>
                  </div>
                  <hr>

                  <div class="row wow zoomIn">
                      <div class="col-md-12">
                          <div class="about-row">
                            <h4 class="paper-tittle">Crowd Counting with Decomposed Uncertainty</h4>
                            <p class="paper-authors">with Peder A. Olsen and Karthikeyan Natesan Ramamurthy</p>
                            <p class="paper-info">AAAI Conference on Artificial Intelligence (<strong>AAAI</strong>), 2020</p>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="row wow zoomIn">
                      <div class="col-md-12">
                          <div class="about-row">
                              <h4 class="paper-tittle">Thompson Sampling for Multinomial Logit Contextual Bandits</h4>
                              <p class="paper-authors">with Garud Iyengar</p>
                              <p class="paper-info">Neural Information Processing Systems (<strong>NeurIPS</strong>), 2019</p>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="row wow zoomIn">
                      <div class="col-md-12">
                          <div class="about-row">
                            <h4 class="paper-tittle">Sequential Anomaly Detection using Inverse Reinforcement Learning</h4>
                            <p class="paper-authors">with Garud Iyengar</p>
                            <p class="paper-info">ACM SIGKDD International Conference on Knowledge Discovery &amp; Data Mining (<strong>KDD</strong>), 2019</p>
                            <p><em>Oral presentation in research paper track (top 9% of total submissions)</em></p>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="row wow zoomIn">
                      <div class="col-md-12">
                          <div class="about-row">
                            <h4 class="paper-tittle">Automatic Event Detection in Basketball using Hidden Markov Models with Energy based Defensive Assignment</h4>
                            <p class="paper-authors">with Suraj Keshri, Sheng Zhang and Garud Iyengar</p>
                            <p class="paper-info">Journal of Quantitative Analysis in Sports. 15.2: 141-153. 2019</p>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="row wow zoomIn">
                      <div class="col-md-12">
                          <div class="about-row">
                            <h4 class="paper-tittle">Adaptive Pattern Matching with Reinforcement Learning for Dynamic Graphs</h4>
                            <p class="paper-authors">with Hiroki Kanezashi, Toyotaro Suzumura, Dario Garcia-Gasulla and Satoshi Matsuoka</p>
                            <p class="paper-info">IEEE International Conference on High Performance Computing, Data, and Analytics (<strong>HiPC</strong>), 2018</p>
                            <p><em>Best Paper Award Winner</em></p>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="row wow zoomIn">
                      <div class="col-md-12">
                          <div class="about-row">
                            <h4 class="paper-tittle">Learning Graph Topological Features via GAN</h4>
                            <p class="paper-authors">with Weiyi Liu, Pin-Yu Chen, Hal Cooper, Sailung Yeung and Toyotaro Suzumura</p>
                            <p class="paper-info">IEEE Access, 7, 21834--21843, 133600, 2019</p>
                            <p class="paper-info">Preliminary version appeared at Workshop on Implicit Models, International Conference on Machine Learning (<strong>ICML</strong>), 2017</p>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="row wow zoomIn">
                      <div class="col-md-12">
                          <div class="about-row">
                            <h4 class="paper-tittle">Efficient "Shotgun" Inference of Neural Connectivity from Highly Sub-sampled<br> Activity Data</h4>
                            <p class="paper-authors">with Daniel Soudry, Suraj Keshri, Patrick Stinson, Garud Iyengar and Liam Paninski</p>
                            <p class="paper-info">PLoS Computational Biology,  11 (10), 2015</p>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="row wow zoomIn">
                      <div class="col-md-12">
                          <div class="about-row">
                            <h4 class="paper-tittle">Graphical Model for Basketball Match Simulation</h4>
                            <p class="paper-authors">with Suraj Keshri and Garud Iyengar</p>
                            <p class="paper-info">MIT Sloan Sports Analytics Conference, 2015</p>
                            <p><em>Finalist in Research Paper Competition (top 2% of total submissions)</em></p>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </section>


  <section id="working_papers" class="section">
      <div class="container">
          <div class="row wave-bg">
              <div class="col-md-4 wow slideInLeft">
                  <div class="section-sidebar">
                      <h3><span class="point">Working Papers</span></h3>
                      <!-- <div class="opacity-box">
                          <p></p>
                      </div> -->
                  </div>
              </div>
              <div class="col-md-8">
                <div class="row wow zoomIn">
                    <div class="col-md-12">
                        <div class="about-row">
                            <h4 class="paper-tittle">Thompson Sampling for Contextual Reinforcement Learning</h4>
                            <p class="paper-authors">with Garud Iyengar</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row wow zoomIn">
                      <div class="col-md-12">
                          <div class="about-row">
                            <h4 class="paper-tittle">Directed Exploration in PAC Model-free Reinforcement Learning</h4>
                            <p class="paper-authors">with Garud Iyengar</p>
                            <p class="paper-info">Preliminary version appeared at Exploration in RL Workshop, International Conference on Machine Learning (<strong>ICML</strong>), 2018</p>
                            <p><em>2nd Place Winner, 2018 INFORMS Annual Meeting Poster Competition</em></p>
                          </div>
                      </div>
                  </div>
                  <hr>

                <div class="row wow zoomIn">
                    <div class="col-md-12">
                        <div class="about-row">
                          <h4 class="paper-tittle">Unsupervised segmentation of neuroanatomy from multispectral images</h4>
                          <p class="paper-authors">with Uygar Sümbül, Jeremy Wohlwend, Douglass Roossien Jr., Fei Chen, Nicholas Barry, Adam H. Marblestone, John P. Cunningham, Dawen Cai, Edward S. Boyden and Liam Paninski</p>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </section>

  <!-- <section id="upcoming" class="section">
      <div class="container">
          <div class="row wave-bg">
              <div class="col-md-4 wow slideInLeft">
                  <div class="section-sidebar">
                      <h3><span class="point">Upcoming & Recent Talks</span></h3>
                  </div>
              </div>
              <div class="col-md-8">
                <div class="row wow zoomIn">
                    <div class="col-md-12">
                      <div class="about-row">
                          <h4 class="paper-tittle">Multinomial Logit Contextual Bandits</h4>
                          <p class="paper-info">INFORMS 2019: October 21st 2:00-2:30PM at CC Room 212</p>
                          <p class="paper-info">MSOM 2019: July 1st 8:30-10:00AM at Orchid Junior Ballroom 4312</p>
                          <p class="paper-info">ICML 2019: June 14th 10:00-11:00AM at Seaside Ballroom</p>
                          <p class="paper-info">RM&P 2019: June 6th 8:30–10:00AM at Oberndorf C</p>
                          <p class="paper-info">POMS 2019: May 3rd 1:45–3:15PM at Cardozo</p>
                      </div>
                    </div>
                </div>
                <hr>
                <div class="row wow zoomIn">
                    <div class="col-md-12">
                        <div class="about-row">
                            <h4 class="paper-tittle">Thompson Sampling for Multinomial Logit Contextual Bandits</h4>
                            <p class="paper-info">INFORMS 2019: October 23rd 4:20-4:40PM at CC Skagit 4</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row wow zoomIn">
                    <div class="col-md-12">
                        <div class="about-row">
                            <h4 class="paper-tittle">Sequential Anomaly Detection using Inverse Reinforcement Learning</h4>
                            <p class="paper-info">KDD 2019: August 7th 1:30-3:30PM at Summit 3, Egan Center </p>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </section> -->

  <footer class="footer text-center">
      <div class="container">
          <div class="row">
              <div class="col-md-12 wow zoomIn">
                  <div class="copyright">
                      <p>Copyright 2020 Woo Chul Lee.</p>
                  </div>
              </div>
          </div>
      </div>
  </footer>



  <script src="js/jquery-2.2.3.min.js"></script>

  <!--THEME-->
  <script src="js/theme.js"></script>



  </body></html>






<div>
  이 우철입니다. 저의 블로그에 오신 것을 환영합니다.<br>
  This is Woo. Welcome to my blog.
  </div>

<img src = "/assets/img/amllogo/boat.jpg">


Projects

<main class="page-content grid-container">
  <div class="grid-x grid-margin-x">
<div class="medium-6 cell thumbnail-tile">

<a class="post-link" href="/radiology">

  <div class="thumbnail-container">
    <img class="thumbnail-image-featured" src="/assets/img/coral/coral.gif" alt="The World of Radiology Tile Image">

  <div class="medium-6 cell thumbnail-tile">

    <a class="post-link" href="/teslawatchapp">

      <div class="thumbnail-container">
        <img class="thumbnail-image-featured" src="/assets/img/amllogo/logo_full.png" alt="Tesla Watch App Tile Image">
        <div class="featured-text">
          <span class="thumbnail-text-featured">Tesla Watch App</span>
          <span class="thumbnail-description-featured">Bringing the Tesla experience to your wrist with Apple Watch</span>
        </div>

      </div>
  </a>
</div>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

