---
layout: archive
---

{{ content }}

<!-- <div>
  이 우철입니다. 저의 블로그에 오신 것을 환영합니다.<br>
  This is Woo. Welcome to my blog.
  </div>

<img src = "/assets/img/amllogo/boat.jpg">


Projects

<main class="page-content grid-container">
  <div class="grid-x grid-margin-x">
<div class="medium-6 cell thumbnail-tile">

<a class="post-link" href="/radiology">

  <div class="thumbnail-container">
    dfsfdsf<br>
    <img class="thumbnail-image-featured" src="/assets/img/coral/coral.gif" alt="The World of Radiology Tile Image">

  <div class="medium-6 cell thumbnail-tile">

    <a class="post-link" href="/teslawatchapp">

      <div class="thumbnail-container">
        <img class="thumbnail-image-featured" src="/assets/img/amllogo/logo_full.png" alt="Tesla Watch App Tile Image">
        <div class="featured-text">
          <span class="thumbnail-text-featured">Tesla Watch App</span>
          <span class="thumbnail-description-featured">Bringing the Tesla experience to your wrist with Apple Watch</span>
        </div>

      </div>
  </a>
</div> -->


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

